@require "base/*"
@require "components/*"
@require "components/sections/*"

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html
  font-size: 10px
  body
    overflow-x: hidden
    &.prevent-scroll
      overflow: hidden
      pointer-events: none
    main
      b
        font-weight: bold
      h2
        font-family: $font-pt-sans-regular
        font-size: 4.6em
        color: #333333
        padding: .6em 0

*::selection
  color: #fff;
  background: $color-base;

/* vars */
$terrain-height = 16vh
$terrain-involve-height = 45vh

$anim-long-dur = 1.8s
$anim-middle-dur = 0.8s
$anim-short-dur = 0.4s

main
  width: 100vw
  background: #fff
  font-family: $font-base

@media $mobile
 html
   body
    main
      h2
        font-family: $font-pt-sans-regular
        font-size: 32px
        text-align: center
