@require "base/*"
@require "pages/*"
@require "components/*"

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html
  font-size: 10px
  body
    overflow-x: hidden
    b
      font-weight: bold

*::selection {
  color: #fff;
  background: $color-base;
}
