@font-face {
  font-family: 'Icomoon';
  src: url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

// ICONS CODES
$analytics-icon-code = "\e609"
$bell-icon-code = "\e60b"
$eye-icon-code = "\e9ce"
$feedback-icon-code = "\e91a"
$gallery-icon-code = "\e605"
$info-icon-code = "\e600"
$message-icon-code = "\e60a"
$people-icon-code = "\e602"
$search-icon-code = "\e606"

