/* COMPACT */
@font-face {
  font-family: 'Compact-Regular';
  src: url(../fonts/Compact-Regular.woff) format('woff'), url(../fonts/Compact-Regular.ttf) format('truetype');
  font-weight: normal;
}

/* PT SANS NARROW */
@font-face {
  font-family: 'PT-Sans-Regular';
  src: url(../fonts/PT-Sans-Narrow-Regular.ttf) format('truetype');
  font-weight: normal;
}

/* ROBOTO */
@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

/* BEBAS */
@font-face {
  font-family: 'Bebas-Regular';
  src: url(../fonts/BebasRegular.woff) format('woff'), url(../fonts/BebasRegular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas-Bold';
  src: url(../fonts/BebasBold.woff) format('woff'), url(../fonts/BebasBold.ttf) format('truetype');
  font-weight: bold;
}

