/* ICOMOON */
@font-face {
  font-family: 'Icomoon';
  src: url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype');
}

/* COMPACT */
@font-face {
  font-family: 'Compact-Regular';
  src: url(../fonts/Compact-Regular.woff) format('woff'), url(../fonts/Compact-Regular.ttf) format('truetype');
  font-weight: normal;
}

/* ROBOTO */
/*@font-face {
  font-family: 'Roboto-Thin';
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}*/
@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
/*@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 700;
}*/
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

/* BEBAS */
/*@font-face {
  font-family: 'Bebas-Thin';
  src: url(../fonts/BebasThin.woff) format('woff'), url(../fonts/BebasThin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Bebas-Light';
  src: url(../fonts/BebasLight.woff) format('woff'), url(../fonts/BebasLight.ttf) format('truetype');
  font-weight: 300;
}*/
@font-face {
  font-family: 'Bebas-Regular';
  src: url(../fonts/BebasRegular.woff) format('woff'), url(../fonts/BebasRegular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas-Bold';
  src: url(../fonts/BebasBold.woff) format('woff'), url(../fonts/BebasBold.ttf) format('truetype');
  font-weight: bold;
}

// ICONS CODES
$icon-code-analytics = "\e609"
$icon-code-bell = "\e60b"
$icon-code-eye = "\e9ce"
$icon-code-feedback = "\e91a"
$icon-code-gallery = "\e605"
$icon-code-info = "\e600"
$icon-code-message = "\e60a"
$icon-code-people = "\e602"
$icon-code-play = "\e607"
$icon-code-search = "\e606"

