<card class="audio">
    <div class="info-box">
        <div class="title"><span class="thin">Some cool</span> <span class="bold">soundtrack</span></div>
        <div class="credit">
            <span class="category">video</span><span class="author">by somebody</span>
            <div class="divider"></div>
        </div>
    </div>
    <div class="play"></div>
    <div class="soundgraph">
        <!-- 24 segments -->
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>

        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>

        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
    </div>
    <div class="time">05:12</div>
</card>
