<div class="social-container">
    <div class="social-media fb">Facebook</div>
    <div class="social-media vk">Вконтакте</div>
    <div class="social-media inst">Instagram</div>
</div>
<div class="motto">ОТ ЗАМЫСЛА ДО УСПЕХА</div>
<div class="copyright">© 2015-<span class="current-year">2016</span> ОАО ДАР Девелопмент</div>
<div class="designed-by">Дизайн и разработка - <a href="mailto:dmitry_salnikov@protonmail.com" title="dmitry_salnikov@protonmail.com">Дмитрий Сальников</a><span> email: dmitry_salnikov@protonmail.com</span></div>
