<div class="content-shadow"></div>
<ul>
    <li class="logo" data-section-name="SectionMain"><img src="../images/ic/logo-black-vector.svg"/></li>
    <li data-section-name="SectionAbout">о компании</li>
    <li data-section-name="SectionProjects">проекты</li>
    <li data-section-name="SectionPartners">партнеры</li>
    <li data-section-name="SectionTeam">команда</li>
    <li data-section-name="SectionContacts">контакты</li>
</ul>
<div class="menu-button">
    <div class="line-container">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
