<nav>
    <figure class="tile bell">
        <figcaption>Notifications</figcaption>
    </figure>
    <figure class="tile views">
        <figcaption>
            <span class="from">56</span>
            <span class="summary">Visitors</span>
        </figcaption>
    </figure>
    <figure class="tile message">
        <figcaption>
            <span class="from">Alan Regner</span>
            <span class="summary">Hello there, wish you good luck, friend.</span>
        </figcaption>
    </figure>
    <figure class="tile info">
        <figcaption>
            <span class="from">Inspirr</span>
            <span class="summary">Welcome, dear Samuel!</span>
        </figcaption>
    </figure>
</nav>
<div class="dragger">
    <!-- dots -->
    <div></div><div></div><div></div>
</div>

