/** SECTION CONTACTS COMPONENT
  * @author Dmitry Salnikov
  * @since 12/11/2015
 */
@require './base/util'
@require './base/devices'

$section-contacts-base-font-size = 1rem // Desktop

$section-contacts-width = 100%
$section-contacts-height = 50em
$section-contacts-address-height = 0.9 *$section-contacts-height

$section-contacts-address-folded-corner-size = 8em

dar-section-contacts
  width: $section-contacts-width
  display: flex
  flex-direction: column
  margin: 0 auto
  font-size: $section-contacts-base-font-size
  position: relative
  h2
    width: 22.261em
    margin: 0 auto
    padding: 0 0 1em !important
  .address-container
    width: 100%
    height: $section-contacts-height
    position: absolute
    top: 9em
    left: 0
    z-index: 10
    cursor: move
    transition: transform .4s
    .address-box
      position: relative
      width: 102.4em
      height: 100%
      margin: 0 auto
      .address
        width: 43em
        height: $section-contacts-address-height
        padding: 3em 5em
        box-sizing: border-box
        background: #fff
        position: absolute
        top: 0
        left: 0
        font-family: $no-font-pt-sans-regular
        cursor: initial
        transition: transform .4s
        &:before
          content: ""
          width: $section-contacts-address-folded-corner-size
          height: ($section-contacts-address-height - $section-contacts-address-folded-corner-size)
          position: absolute
          top: 0
          right: -($section-contacts-address-folded-corner-size)
          background-color: #fff
        &:after
          content: ""
          position: absolute
          bottom: 0
          right: -($section-contacts-address-folded-corner-size)
          border-width: $section-contacts-address-folded-corner-size $section-contacts-address-folded-corner-size 0 0
          border-style: solid
          border-color: $color-base transparent
        .company-name
          font-size: 3em
          font-weight: bold
        .company-address
          font-size: 3em
          padding: 1em 0 0.5em
          line-height: 1.4em
        .company-contacts
          font-size: 3em
          padding: 0.5em 0
          line-height: 1.4em
          a
            color: #000
            text-decoration: none
          .company-email
            text-decoration: underline
  .map-container
    width: 100%
    height: $section-contacts-height
    position: relative
    .map
      width: 100vw
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-image: url('../images/bg/map-stub.jpg')
      background-size: cover

  &.show-map
    .address-container
      height: 0
      .address-box
        height: 0
        .address
          transform: translate(-11.3em, -12.1em) scale(0.46)
          cursor: alias


/* MOBILE STYLES */
@media $mobile
  dar-section-contacts
    width: 100vw
    h2
      width: auto
      margin: 0
      padding-top: 0 !important
    .address-container
      height: 80em
      top: 32px
      padding-top: 3em
      .address-box
        width: 100%
        .address
          width: 40em
          height: 60em
          padding-right: 0
          padding-top: 3em
          &:before
            height: 52em
          .company-name
            font-size: 3.6em
            position: absolute
            width: 10em
            top: 1em
          .company-address
            font-size: 3.4em
            position: absolute
            width: 11em
            top: 2.6em
          .company-contacts
            font-size: 3.4em
            position: absolute
            width: 11em
            top: 9em
    .map-container
      height: 80em

    &.show-map
      .address-container
        .address-box
          .address
            transform: translate(-8em, -11.8em) scale(0.6)


body.font-pt-sans-regular
  dar-section-contacts
    .address-container
      .address-box
        .address
          font-family: $font-pt-sans-regular
