/** SECTION MAIN COMPONENT
  * @author Dmitry Salnikov
  * @since 9/24/2015
 */
@require './base/util'
@require './base/devices'

$section-main-base-font-size = 1rem // Desktop

$section-main-height = 86em

$section-main-slides-number = 3 // number of slides
$section-main-slides-control-width = 14em
$section-main-slides-control-height = $section-main-height
$section-main-slides-control-arrow-width = 2em
$section-main-slides-control-arrow-height = 12em

dar-section-main
  height: $section-main-height
  display: flex
  position: relative
  font-family: $font-roboto-regular
  font-size: $section-main-base-font-size
  align-items: center
  flex-wrap: nowrap
  justify-content: center

  .company-title-container
    width: 100vw
    height: 11em
    position: absolute
    top: 14em
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    z-index: 10
    .company-title
      font-family: $font-compact-regular
      font-size: 11em
      color: #fff

  .logo-container
    width: 100vw
    height: $section-main-height
    position: absolute
    top: 0
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 10
    user-select: none
    .logo
      width: 26em

  .slideshow
    height: 100%
    width: 100%
    background-color: #000
    position: relative
    .slick-list
      height: 100%
      .slick-track
        height: 100%
        .slick-slide
          position: static

    $slide-control()
      width: $section-main-slides-control-width
      height: $section-main-slides-control-height
      position: absolute
      top: 0
      z-index: 20
      cursor: pointer
      transition: background-color 0.5s
      &:before
        content: ""
        width: $section-main-slides-control-arrow-width
        height: $section-main-slides-control-arrow-height
        display: block
        position: absolute
        background-color: #D0D0D0
        opacity: 0.5
        transition: background-color 0.5s
      &:after
        content: ""
        width: $section-main-slides-control-arrow-width
        height: $section-main-slides-control-arrow-height
        display: block
        position: absolute
        background-color: #D0D0D0
        opacity: 0.5
        transition: background-color 0.5s
      &:hover
        background-color: rgba(0,0,0,0.15)
        &:before
          background-color: #fff
          opacity: 0.5
        &:after
          background-color: #fff
          opacity: 0.5

    .prev
      $slide-control()
      left: 0
      &:before
        bottom: 49.97%
        left: 3em
        transform: skewX(-27deg)
        transform-origin: left bottom
      &:after
        top: 49.97%
        left: 3em
        transform: skewX(27deg)
        transform-origin: left top
    .next
      $slide-control()
      right: 0
      &:before
        bottom: 49.97%
        right: 3em
        transform: skewX(27deg)
        transform-origin: right bottom
      &:after
        top: 49.97%
        right: 3em
        transform: skewX(-27deg)
        transform-origin: right top
    .slides
      height: 100%
      width: 100vw
      position: relative
      overflow: hidden
      .slide
        width: 100vw
        height: 100%
        position: absolute
        background: #fff
        transition: transform 0.8s
        background-position: 50% 50%
        background-repeat: no-repeat
        .title
          width: 100%
          position: absolute
          bottom: 1em
          font-family: $font-bebas-bold
          font-size: 7.2em
          text-align: center
          color: #fff
          user-select: none

/* MOBILE STYLES */
$mobile-and-tablet-portrait-mixin()
  dar-section-main
    .company-title-container
      .company-title
        font-size: 9em
    .slideshow
      .prev
        height: 32em
        top: 50%
        margin-top: -16em
      .next
        height: 32em
        top: 50%
        margin-top: -16em

@media $mobile-portrait
  $mobile-and-tablet-portrait-mixin()

@media $tablet-portrait
  $mobile-and-tablet-portrait-mixin()


@media $all-less-than-desktop
  dar-section-main
    .slideshow
      .slides
        .slide
          background-size: cover

