/** MAIN PAGE
  * @author Dmitry Salnikov
  * @since 2/16/2015
 */
@require './components/header'

ir-main-page
  width: 100%
  height: auto
  min-height: "calc(100vh - %s)" % $header-height
  background: rgba(219, 219, 219, 0.17)