<h2>Контакты</h2>
<div class="address-container">
    <div class="address-box">
        <div class="address">
            <div class="company-name">ООО ДАР Девелопмент</div>
            <div class="company-address">
                Москва, Усачева, 24
                <br/>
                119048, Российская Федерация
            </div>
            <div class="company-contacts">
                Телефон: <a href="tel:+74952872525">+7 (495) 287-25-25</a>
                <br/>
                Факс: +7 (495) 719-83-33
                <br/>
                Email: <a href="mailto:info@dar-dvl.com" class="company-email">info@dar-dvl.com</a>
            </div>
        </div>
    </div>
</div>
<div class="map-container">
    <div class="map"></div>
</div>
