<div class="company-title-container">
    <div class="company-title">ДАР Девелопмент</div>
</div>

<div class="logo-container">
    <img src="../images/ic/logo-vector.svg" class="logo"/>
</div>

<div class="slideshow">
    <div class="prev"></div>

    <div class="slides">
        <div class="slide" style="transform: translateX(-100vw); background-image: url('./images/bg/port-slide-darker/port-slide-darker.jpg')" data-original-image="./images/bg/port-slide-darker/port-slide-darker" data-sizes="[320,814,1158,1438,1727,1920]">
            <div class="title">Морские<br/>терминалы</div>
        </div>
        <div class="slide" style="transform: translateX(0vw); background-image: url('./images/bg/moscow-city-slide-blue/moscow-city-slide-blue.jpg')" data-original-image="./images/bg/moscow-city-slide-blue/moscow-city-slide-blue" data-sizes="[320,813,1145,1436,1739,1920]">
            <div class="title">Правовой консалтинг<br/>в промышленности</div>
        </div>
        <div class="slide" style="transform: translateX(100vw); background-image: url('./images/bg/infrastructure-slide-darker/infrastructure-slide-darker.jpg')" data-original-image="./images/bg/infrastructure-slide-darker/infrastructure-slide-darker" data-sizes="[320,865,1227,1526,1812,1920]">
            <div class="title">Инфраструктурные<br/>проекты</div>
        </div>
    </div>

    <div class="next"></div>
</div>
