<h2>Партнеры</h2>
<ul class="partner-list">
    <li class="partner">
        <img class="partner-logo" src="../images/partners/rostech.png" alt="Ростех" style="width:10.1em; height:12.2em;" />
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/sinef.png" alt="СИНЭФ" style="width:26.6em; height:6.4em;" />
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/euro-profil.png" alt="ЕвроПрофиль" style="width:16.8em; height:11.7em;" />
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/embarq.png" alt="EMBARQ" style="width:23.1em; height:11.7em;" />
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/svn-trading.png" alt="СВН Трейдинг" style="width:12.1em; height:15.4em;" />
    </li>
</ul>
