<h2>Партнеры</h2>
<ul class="partner-list">
    <li class="partner">
        <img class="partner-logo" src="../images/partners/rostech.png" alt="Ростех"/>
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/sinef.png" alt="СИНЭФ"/>
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/euro-profil.png" alt="ЕвроПрофиль"/>
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/embarq.png" alt="EMBARQ"/>
    </li>
    <li class="partner">
        <img class="partner-logo" src="../images/partners/svn-trading.png" alt="СВН Трейдинг"/>
    </li>
</ul>
