<h2>Проекты</h2>
<div class="projects-container">
    <div class="prev"></div>
    <div class="slider">
        <div class="tile small">
            <div class="image-container"><img src="../images/projects/tile-small-railway.jpg"/></div>
            <div class="title-container bottom-right">
                <div class="project-name">Сортировочная станция</div>
                <div class="project-summary">г. Калуга</div>
            </div>
        </div>
        <div class="tile small">
            <div class="image-container"><img src="../images/projects/tile-small-terminal.jpg"/></div>
            <div class="title-container bottom-right">
                <div class="project-name">Разгрузочный терминал</div>
                <div class="project-summary">порт Архангельска</div>
            </div>
        </div>
        <div class="tile big">
            <div class="image-container"><img src="../images/projects/tile-big-anapa.jpg"/></div>
            <div class="title-container top-right">
                <div class="project-name">Морской порт в г. Анапа</div>
                <div class="project-summary">правовая поддержка</div>
            </div>
            <div class="hover-container bottom">
                <div class="project-customer">ОАО НК Роснефть</div>
                <div class="project-date">2015</div>
            </div>
        </div>
        <div class="tile small">
            <div class="image-container"><img src="../images/projects/tile-small-railway.jpg"/></div>
            <div class="title-container bottom-right">
                <div class="project-name">Сортировочная станция</div>
                <div class="project-summary">г. Калуга</div>
            </div>
            <div class="hover-container top">
                <div class="project-customer">ОАО РЖД</div>
                <div class="project-date">2014</div>
            </div>
        </div>
        <div class="tile small">
            <div class="image-container"><img src="../images/projects/tile-small-terminal.jpg"/></div>
            <div class="title-container bottom-right">
                <div class="project-name">Разгрузочный терминал</div>
                <div class="project-summary">порт Архангельска</div>
            </div>
            <div class="hover-container top">
                <div class="project-customer">ОАО Роспромстрой</div>
                <div class="project-date">2014</div>
            </div>
        </div>
        <div class="tile big">
            <div class="image-container"><img src="../images/projects/tile-big-tc.jpg"/></div>
            <div class="title-container bottom-left">
                <div class="project-name">Строительство ТЦ в Волгограде</div>
                <div class="project-summary">правовой консалтинг</div>
            </div>
        </div>
    </div>
    <div class="next"></div>
</div>
