<h2>Команда</h2>
<ul class="team-members">
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/1.jpg" />
            <figcaption>
                <div class="name">Алексей Петров</div>
                <div class="role">Юрист,<br>правовед</div>
            </figcaption>
        </figure>
    </li>
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/2.jpg" />
            <figcaption>
                <div class="name">Игорь Седов</div>
                <div class="role">Генеральный директор</div>
            </figcaption>
        </figure>
    </li>
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/3.jpg" />
            <figcaption>
                <div class="name">Антон Ленский</div>
                <div class="role">Менеджер по работе с клиентами</div>
            </figcaption>
        </figure>
    </li>
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/4.jpg" />
            <figcaption>
                <div class="name">Виктор Мальский</div>
                <div class="role">Юрист,<br>правовед</div>
            </figcaption>
        </figure>
    </li>
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/5.jpg" />
            <figcaption>
                <div class="name">Николай Селезнёв</div>
                <div class="role">Специалист по связям</div>
            </figcaption>
        </figure>
    </li>
    <li class="member">
        <figure>
            <img class="photo" src="../images/team/6.jpg" />
            <figcaption>
                <div class="name">Яков Левин</div>
                <div class="role">Красиво улыбается</div>
            </figcaption>
        </figure>
    </li>
</ul>
