/** HEADER COMPONENT
  * @author Dmitry Salnikov
  * @since 2/17/2015
 */
@require './base/util'
@require './base/devices'

$header-base-font-size = 1rem // Desktop

$header-height = 12.6em
$header-action-size = 4em
$header-mobile-action-size = 7em
$header-logo-height = 7em

header
  height: $header-height
  display: flex
  font-size: $header-base-font-size
  align-items: center
  flex-wrap: nowrap
  margin-left: 0
  transition: margin $drawer-open-anim-dur

  header-action-icon-after(url, border-radius = 0)
    &:after
      content: ''
      width: $header-action-size
      height: $header-action-size
      position: absolute
      top: 50%
      left: 50%
      margin-top: -($header-action-size/2)
      margin-left: -($header-action-size/2)
      display: block
      background: url(url) no-repeat
      background-size: $header-action-size $header-action-size
      if border-radius
        border-radius: border-radius

  .user-menu-button
    width: $header-height
    height: 100%
    position: relative
    cursor: pointer
    transition: width $drawer-open-anim-dur
    header-action-icon-after("http://fotohost.by/images/2015/02/17/avatar-medium.png", 4px)
    &:after
      transform: scale(1)
      opacity: 1
      transition: transform $drawer-open-anim-dur, opacity $drawer-open-anim-dur
    &.collapsed
      width: ($header-height/3.5)
      cursor: auto
      &:after
        transform: scale(0)
        opacity: 0

  figure.logo
    height: $header-logo-height
    display: flex
    align-items: flex-start
    img
      order: 2
      width: 8.1em
    figcaption
      font-family: $font-base
      font-weight: 700
      font-size: 6.6em
      color: $color-base
      order: 1

  .center-box
    height: 80%
    display: flex
    flex-direction: row
    flex-grow: 1
    justify-content: space-between
    border-left: 1px solid #dedede
    border-right: 1px solid #dedede
    margin-left: 2em
    .title-box
      display: flex
      flex-direction: column
      justify-content: center
      padding-left: 2em
      font-family: $font-base
      font-weight: normal
      color: #8e8e8e
      text-transform: uppercase
      white-space: nowrap
      .title
        font-size: 2em
      .subtitle
        font-size: 5.6em

    .actions-box
      height: 100%
      display: flex
      align-items: center
      .action
        width: $header-height
        height: $header-height
        cursor: pointer
        position: relative
        &.search
          header-action-icon-after("http://fotohost.by/images/2015/02/18/search.png")

  .notifications-button
    width: $header-height
    height: $header-height
    position: relative
    cursor: pointer
    header-action-icon-after("http://fotohost.by/images/2015/02/18/bell.png")

/* ANIMATIONS */
header
  &.slide-right
    margin-left: $header-height


/* MOBILE STYLES */
@media $mobile
  header-mobile-action-icon-after()
    &:after
      width: $header-mobile-action-size
      height: $header-mobile-action-size
      margin-top: -($header-mobile-action-size/2)
      margin-left: -($header-mobile-action-size/2)
      background-size: $header-mobile-action-size $header-mobile-action-size

  header
    font-size: 0.44 * $header-base-font-size !important
    /* background: rgba(65, 170, 255, 0.1) */
    .user-menu-button
      header-mobile-action-icon-after()

    figure.logo
      height: 8.6em
      img
        width: 11em
      figcaption
        font-size: 8.2em

    .center-box
      border: 0
      justify-content: flex-end
      margin: 0
      .title-box
        width: 100%
        position: absolute
        top: 12.6em
        left: 0
        flex-direction: row
        padding: 1.2em 0
        .title
          font-size: 3em
          padding: 0.2em 0.4em
          border-right: 1px solid #dedede
        .subtitle
          font-size: 3em
          padding: 0.2em 0.4em
      .actions-box
        .action
          &.search
           header-mobile-action-icon-after()

    .notifications-button
      header-mobile-action-icon-after()





















