/** LEFT DRAWER COMPONENT
  * @author Dmitry Salnikov
  * @since 3/2/2015
 */
@require './base/util'
@require './base/devices'

$left-drawer-base-font-size = 1rem // Desktop
$left-drawer-tile-size = 12.6em
$left-drawer-tile-delay = 80ms
$left-drawer-tile-avatar-icon-size = 9.0em
$left-drawer-tile-text-icon-size = 6.4em
$left-drawer-tile-settings-icon-size = 7.9em
$left-drawer-tile-text-icon-shift-up = 0.5em
$left-drawer-dragger-height = 8em
$left-drawer-dragger-width = 1.4em
$left-drawer-dragger-dot-size = 0.5em

$left-drawer-dragger-color = #9a9a9a

ir-left-drawer
  width: $left-drawer-tile-size
  height: 100%
  background: $color-base-dark
  position: fixed
  top: 0
  left: 0
  font-size: $left-drawer-base-font-size
  display: flex
  flex-direction: row
  transform: translateX(-($left-drawer-tile-size))
  transition: transform $drawer-open-anim-dur
  nav
    width: $left-drawer-tile-size
    height: 100%
    display: flex
    flex-direction: column
    box-shadow: -8px 0 10px -3px #000 inset

    nav-tile-icon-before(url, size, shiftUp = 0)
      &:before
        content: ''
        width: size
        height: size
        position: absolute
        top: 50%
        left: 50%
        margin-top: -(size/2) - shiftUp
        margin-left: -(size/2)
        display: block
        background: url(url) no-repeat
        background-size: size size

    figure.tile
      width: $left-drawer-tile-size
      height: $left-drawer-tile-size
      position: relative
      transform: translateX(-($left-drawer-tile-size))
      transition: transform $drawer-open-anim-dur
      figcaption
        width: 100%
        position: absolute
        bottom: 1em
        font-family: $font-base
        font-size: 1.3em
        color: #cdcdcd
        text-transform: uppercase
        text-align: center
        opacity: 0
        transition: opacity $drawer-open-anim-dur*2
        transition-delay: $drawer-open-anim-dur
      &:hover
        cursor: pointer
        figcaption
          color: #fff;
      &.avatar
        nav-tile-icon-before("http://fotohost.by/images/2015/03/04/avatar-orange-hair.png", $left-drawer-tile-avatar-icon-size)
        &:before
          border-radius: 0.8em
          box-shadow: 0 0 2px 0 #000
        &:hover
          &:before
            box-shadow: 0 0 6px 0 #000
        figcaption
          display: none
      &.gallery
        transition-delay: $left-drawer-tile-delay
        nav-tile-icon-before("http://fotohost.by/images/2015/03/04/gallery.png", $left-drawer-tile-text-icon-size, $left-drawer-tile-text-icon-shift-up)
      &.people
        transition-delay: $left-drawer-tile-delay * 2
        nav-tile-icon-before("http://fotohost.by/images/2015/03/04/people.png", $left-drawer-tile-text-icon-size, $left-drawer-tile-text-icon-shift-up)
      &.analytics
        transition-delay: $left-drawer-tile-delay * 3
        nav-tile-icon-before("http://fotohost.by/images/2015/03/04/analytics.png", $left-drawer-tile-text-icon-size, $left-drawer-tile-text-icon-shift-up)
      &.settings
        position: absolute
        bottom: -0.4em
        nav-tile-icon-before("http://fotohost.by/images/2015/03/05/settings-new6df21.png", $left-drawer-tile-settings-icon-size)
        &:before
          transform: rotate(0deg);
          transition: transform 1.4s;
        figcaption
          display: none

  .dragger
    height: $left-drawer-dragger-height
    width: $left-drawer-dragger-width
    position: absolute
    top: 50%
    padding-top: 1.2em
    margin-top: -($left-drawer-dragger-height/2)
    background: $left-drawer-dragger-color
    border-radius: 0 $left-drawer-dragger-width $left-drawer-dragger-width 0
    display: flex
    flex-direction: column
    box-sizing: border-box
    cursor: pointer
    div
      width: $left-drawer-dragger-dot-size
      height: $left-drawer-dragger-dot-size
      margin: $left-drawer-dragger-dot-size*2 0 0 $left-drawer-dragger-dot-size
      background: #fff
      border-radius: $left-drawer-dragger-dot-size
    &:hover
      background: #888
    &:after
      content: ''
      width: $left-drawer-dragger-width + 0.6em
      height: $left-drawer-dragger-height + 2em
      position: absolute
      top: -1em

  &.open
    transform: translateX(0)
    nav
      figure.tile
        transform: translateX(0)
        figcaption
          opacity: 1
        &.settings
          &:hover
            &:before
              transform: rotate(720deg);
          &:before
            transform: rotate(360deg);
