/** RIGHT DRAWER COMPONENT
  * @author Dmitry Salnikov
  * @since 3/14/2015
 */
@require './base/util'
@require './base/devices'

$right-drawer-base-font-size = 1rem // Desktop
$right-drawer-tile-size = 12.6em
$right-drawer-tile-delay = 80ms
$right-drawer-tile-icon-small-font-size = 4.0em
$right-drawer-tile-icon-normal-font-size = 6.4em
$right-drawer-tile-font-icon-size = 1em
$right-drawer-tile-normal-shift-up = 0.1em
$right-drawer-tile-medium-shift-up = 0.3em
$right-drawer-tile-high-shift-up = 0.5em
$right-drawer-dragger-height = 8em
$right-drawer-dragger-width = 1.4em
$right-drawer-dragger-dot-size = 0.5em
$right-drawer-title-from-font-size = 1.0em
$right-drawer-title-summary-font-size = 0.86em

// mobile
$right-drawer-mobile-tile-icon-font-size = 6.4em

// colors
$right-drawer-tile-color = #cdcdcd
$right-drawer-tile-hover-color = #eee
$right-drawer-dragger-color = #9a9a9a
$right-drawer-dragger-hover-color = #888

// time
$right-drawer-color-anim-dur = 0.3s

ir-right-drawer
  width: $right-drawer-tile-size
  height: 100%
  background: $color-base-dark
  position: fixed
  top: 0
  right: 0
  font-size: $right-drawer-base-font-size
  display: flex
  flex-direction: row
  z-index: 10
  transform: translateX($right-drawer-tile-size)
  transition: transform $drawer-open-anim-dur
  nav
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    box-shadow: 8px 0 10px -3px #000 inset

    nav-tile-font-icon-before(iconCode = '', size = 1em, fontSize = $right-drawer-tile-icon-small-font-size, shiftUp = 0)
      &:before
        content: iconCode
        width: size
        height: size
        position: absolute
        top: 50%
        left: 50%
        margin-top: -(size/2) - shiftUp
        margin-left: -(size/2)
        display: block
        font-family: $font-icon
        font-size: fontSize
        text-align: center
        color: $right-drawer-tile-color
        transition: color $right-drawer-color-anim-dur

    figure.tile
      width: $right-drawer-tile-size
      height: $right-drawer-tile-size
      position: relative
      transform: translateX($right-drawer-tile-size)
      transition: transform $drawer-open-anim-dur
      figcaption
        width: 100%
        position: absolute
        bottom: 1em
        padding: 0 0.6em
        display: flex
        flex-direction: column
        font-family: $font-base
        font-size: 1.3em
        font-weight: bold
        color: $right-drawer-tile-color
        text-transform: uppercase
        text-align: center
        user-select: none;
        opacity: 0
        transition: opacity $drawer-open-anim-dur*2
        transition-delay: $drawer-open-anim-dur
        box-sizing: border-box
        .from
          font-family: $font-base
          font-size: $right-drawer-title-from-font-size
          color: $right-drawer-tile-color
          text-transform: uppercase
        .summary
          margin-top: 0.3em
          font-family: $font-base
          font-size: $right-drawer-title-summary-font-size
          font-weight: 300
          color: $right-drawer-tile-color
          text-transform: none
      &.views
        transition-delay: $right-drawer-tile-delay
        nav-tile-font-icon-before($icon-code-eye, $right-drawer-tile-font-icon-size, $right-drawer-tile-icon-small-font-size, $right-drawer-tile-medium-shift-up)
        figcaption
          bottom: 1.6em
          .from
            font-size: $right-drawer-title-from-font-size + 0.2em
      &.message
        transition-delay: $right-drawer-tile-delay * 2
        nav-tile-font-icon-before($icon-code-message, $right-drawer-tile-font-icon-size, $right-drawer-tile-icon-small-font-size, $right-drawer-tile-high-shift-up)
      &.info
        transition-delay: $right-drawer-tile-delay * 3
        nav-tile-font-icon-before($icon-code-info, $right-drawer-tile-font-icon-size, $right-drawer-tile-icon-small-font-size, $right-drawer-tile-high-shift-up)
      &.feedback
        position: absolute
        bottom: -0.4em
        transform: translateY($right-drawer-tile-size)
        transition: transform $drawer-open-anim-dur
        transition-delay: $drawer-open-anim-dur
        figcaption
          .summary
            display: none
        nav-tile-font-icon-before($icon-code-feedback, $right-drawer-tile-font-icon-size, $right-drawer-tile-icon-normal-font-size, $right-drawer-tile-normal-shift-up)
      // tile:hover
      &:hover
        cursor: pointer
        figcaption
          color: $right-drawer-tile-hover-color
          .from
            color: $right-drawer-tile-hover-color
          .summary
            color: $right-drawer-tile-hover-color
        &:before
          color: $right-drawer-tile-hover-color

  .dragger
    height: $right-drawer-dragger-height
    width: $right-drawer-dragger-width
    position: absolute
    top: 50%
    left: -($right-drawer-dragger-width)
    padding-top: 1.2em
    margin-top: -($right-drawer-dragger-height/2)
    background: $right-drawer-dragger-color
    border-radius: $right-drawer-dragger-width 0 0 $right-drawer-dragger-width
    display: flex
    flex-direction: column
    box-sizing: border-box
    cursor: pointer
    div
      width: $right-drawer-dragger-dot-size
      height: $right-drawer-dragger-dot-size
      margin: $right-drawer-dragger-dot-size*2 0 0 $right-drawer-dragger-dot-size
      background: #fff
      border-radius: ($right-drawer-dragger-dot-size/2)
    &:hover
      background: $right-drawer-dragger-hover-color
    &:after
      content: ''
      width: $right-drawer-dragger-width + 3.6em
      height: $right-drawer-dragger-height*3
      position: absolute
      top: -($right-drawer-dragger-height)
      right: 0

  &.open
    transform: translateX(0)
    nav
      figure.tile
        transform: translateX(0)
        figcaption
          opacity: 1
        &.feedback
          transform: translateY(0)

  &.opposite-drawer-open
    transform: translateX($right-drawer-tile-size*2)

/* MOBILE STYLES */
@media $mobile
  ir-right-drawer
    .dragger
      left: -100%
      opacity: 0
      transition: opacity $drawer-open-anim-dur
    &.open
      width: $drawer-mobile-width
      font-size: $right-drawer-base-font-size
      nav
        nav-mobile-tile-font-icon-before(size = 1em, fontSize = $right-drawer-mobile-tile-icon-font-size)
          &:before
            margin-top: -(size/2)
            margin-left: -(size/2)
            font-size: fontSize
        figure.tile
          align-self: flex-end
          figcaption
            width: 130%
            height: 100%
            top: 0
            right: 6.3em
            padding: 0
            text-align: right
            line-height: 1.1em
            font-size: 2em
            display: flex !important
            flex-direction: column
            justify-content: center
          &.views
            nav-mobile-tile-font-icon-before($right-drawer-tile-font-icon-size, $right-drawer-mobile-tile-icon-font-size)
          &.message
            nav-mobile-tile-font-icon-before($right-drawer-tile-font-icon-size, $right-drawer-mobile-tile-icon-font-size)
          &.info
            nav-mobile-tile-font-icon-before($right-drawer-tile-font-icon-size, $right-drawer-mobile-tile-icon-font-size)
          &.feedback
            right: 0
            figcaption
              .summary
                display: block
            nav-mobile-tile-font-icon-before($right-drawer-tile-font-icon-size, $right-drawer-mobile-tile-icon-font-size)

      .dragger
        width: 100%
        height: 120%
        top: 0
        background: #000
        opacity: 0.5
        div
          background: none
